<!DOCTYPE html>
<html ng-app="ppsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" ng-controller = "registrationController">
    <div class="h1" align="center" style="margin-top: 10%">Регистрация</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 10%">
            <input type="text" ng-model="name" placeholder="ФИО" class="form-control"/><br>
            <input type="text" ng-model="mail" placeholder="E-mail" class="form-control"/><br>
            <input type="tel" ng-model="phone" placeholder="+38(050)1112255" class="form-control"/><br>
            <input type="DATE" ng-model="birth" placeholder="Дата рождения" class="form-control"/><br>
            <select class="form-control" ng-model="role" >
                <option id="0">User</option>
                <option id="1">Admin</option>
            </select><br>
            <div class="text-center">
                <button class="btn btn-default" ng-click="logIn()">Регистрация</button>
            </div>
        </div>
    </div>
</div>
<!--================================-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--===============================-->
<script src="JS/app.js"></script>
<!--<script src="js/login/loginCtrl.js"></script>
<script src="js/login/loginSvc.js"></script>-->
</body>
</html>